@font-face {
    font-family: 'Azonix';
    src: url('fonts/AzonixRegular.eot');
    src: url('fonts/AzonixRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/AzonixRegular.woff2') format('woff2'),
        url('fonts/AzonixRegular.woff') format('woff'),
        url('fonts/AzonixRegular.ttf') format('truetype'),
        url('fonts/AzonixRegular.svg#AzonixRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    background: #fec629;
    color: #000000;
    font-family: 'Azonix';
    font-weight: normal;
    font-style: normal;
}
.content {
    position: absolute;
    display: block;
    width: calc(100% - 50px);
    max-width: 450px;
    padding: 25px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
h1 {
    text-align: center;
    font-size: 90px;
}
h2 {
    text-align: center;
    font-size: 28px;
}