@font-face {
    font-family: 'Azonix';
    src: url('fonts/Azonix/AzonixRegular.eot');
    src: url('fonts/Azonix/AzonixRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Azonix/AzonixRegular.woff2') format('woff2'),
        url('fonts/Azonix/AzonixRegular.woff') format('woff'),
        url('fonts/Azonix/AzonixRegular.ttf') format('truetype'),
        url('fonts/Azonix/AzonixRegular.svg#AzonixRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'voax';
    src: url('fonts/voax/voaxRegular.eot');
    src: url('fonts/voax/voaxRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/voax/voaxRegular.woff2') format('woff2'),
        url('fonts/voax/voaxRegular.woff') format('woff'),
        url('fonts/voax/voaxRegular.ttf') format('truetype'),
        url('fonts/voax/voaxRegular.svg#voaxRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    background: #262626;
    color: #fec629;

}
.content {
    position: absolute;
    display: block;
    width: calc(100% - 50px);
    max-width: 450px;
    padding: 25px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
h1 {
    text-align: center;
    font-size: 96px;
    font-family: 'voax';
    font-weight: normal;
    font-style: normal;
    margin: 0 0 25px;
    text-transform: lowercase;
}
h2 {
    text-align: center;
    font-size: 28px;
    font-family: 'Azonix';
    font-weight: normal;
    font-style: normal;
    margin: 0;
}
